

<div class="w3-display-container w3-padding-64 w3-light-gray w3-opacity-min">
	<div class="w3-row">
		<div class="w3-col m6">
			<div class="w3-container">
				<h2> Join Our Newsletter </h2>
				<p> Get the latest news about all our projects. </p>
				<div id="mc_embed_signup">
					<form action="//facebook.us16.list-manage.com/subscribe/post?u=edf9a085c910dede9a9bdc904&amp;id=8b0a5e80f9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<div id="mc_embed_signup_scroll">
							<label class="w3-text-red w3-right">#No Spam</label>
							<label for="Mail" class="w3-left">Your Email Address</label>
							<input class="w3-input" type="email" max-length="40" placeholder="Enter Your Email Address" id="mce-EMAIL" name="EMAIL" required />
							<input type="submit" class="w3-button w3-margin-top w3-margin-bottom w3-red" name="subscribe" id="mc-embedded-subscribe" value="Subscribe">
						</div>
						<div id="mce-responses">
							<div class="w3-panel w3-red w3-card-4 w3-padding be-hidden" id="mce-error-response"></div>
							<div class="w3-panel w3-green w3-card-4 w3-padding be-hidden" id="mce-success-response"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_edf9a085c910dede9a9bdc904_8b0a5e80f9" tabindex="-1" value=""></div>
					</form>
					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
					<script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
				</div>
			</div>
		</div>
		<div class="w3-col m6 w3-padding-large">
			<div class="w3-container">
				<h2> What will you get? </h2>
				<p> Here is what you are going to get after joining our mailing list: </p>
				<ul class="w3-ul w3-border">
					<li class="w3-padding-large">&#9745; Free Software Updates </li>
					<li class="w3-padding-large">&#9745; Info about other projects </li>
					<li class="w3-padding-large">&#9745; Information about future projects </li>
				</ul>
			</div>
		</div>
	</div>
</div>

<footer class="w3-center w3-black">
	<div class="w3-row w3-padding-64">
		<div class="w3-col m6">
			<div class="w3-container w3-left">
				<img class="logo-img w3-shadow w3-image" src="{{ site.baseurl }}/img/gsecurity-logo.png" alt="G Security Desktop Locker" />
				<p class="w3-wide w3-left">G Security is a freeware desktop locker for Windows which locks your computer securely.</p>
				<p class="w3-text-green">
				<a href="https://www.facebook.com/leosoftwarespak/" target="_blank"><span><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></span></a>
				<a href="https://twitter.com/LeoSoftwaresPak" target="_blank"><span><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></span></a>
				<a href="https://plus.google.com/+MalikUsmanAura" target="_blank"><span><i class="fa fa-google-plus-official fa-fw" aria-hidden="true"></i></span></a>
				</p>
			</div>
		</div>
		<div class="w3-col m6 w3-padding-large">
			<div class="w3-container">
				<h3 class="w3-wide w3-large w3-text-green">Developer</h3>
				<hr>
				<p class="w3-small w3-margin-bottom">
					Site Developed By Malik Usman Aura <br>
					Founder Leo Softwares Pak
				</p>
				<p class="w3-padding-large">
					<span class="icon w3-text-green">
						<a href="https://leosoftwares4u.tk" target="_blank"><i class="fa fa-globe fa-fw" aria-hidden="true"></i></a>
						<a href="https://www.facebook.com/malikusman.aura" target="_blank"><i class="fa fa-facebook-official fa-fw" aria-hidden="true"></i></a>
						<a href="https://twitter.com/malikusmanaura" target="_blank"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>
						<a href="https://plus.google.com/+MalikUsmanAura" target="_blank"><i class="fa fa-google-plus-official fa-fw" aria-hidden="true"></i></a>
						<a href="https://pk.linkedin.com/in/malikusmanaura" target="_blank"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a>
						<a href="https://github.com/usmanaura47" target="_blank"><i class="fa fa-github fa-fw" aria-hidden="true"></i></a>
						<a href="mailto:usmanaura47[at]gmail[dot]com"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></a>
					</span>
				</p>
			</div>
		</div>
	</div>
	<div class="w3-row w3-padding-64">
		<div class="w3-col m6 w3-padding-large">
			<div class="w3-container ">
				<h3 class="w3-wide w3-large w3-text-green">Useful Links</h3>
				<hr>
				<a class="w3-button w3-margin-bottom w3-block w3-green" href="http://repository.appvisor.com/info/app-a500f35c36c5/G_Security_pad.xml">PAD File</a>
				<a class="w3-button w3-margin-bottom w3-block w3-green" href="http://sourceforge.net/projects/g-security-desktop-locker/" target="_blank">G Security on Sourceforge</a>
				<a class="w3-button w3-margin-bottom w3-block w3-green" href="http://sourceforge.net/projects/g-security-desktop-locker/files/1.0/GSecurity%20User%20Manual.pdf/download" target="_blank">Download User Manual</a>
			</div>
		</div>
		<div class="w3-col m6 w3-padding-large">
			<div class="w3-container">
				<h3 class="w3-wide w3-large w3-text-green">Our Other Projects</h3>
				<hr/>
				<p>
					<a class="w3-button w3-margin-bottom w3-block w3-green" href="https://leofolderlocker.tk" target="_blank">Leo Folder Locker</a>
					<a class="w3-button w3-margin-bottom w3-block w3-green" href="https://batchscriptingpack.tk" target="_blank">Batch Scripting Pack</a>
					<a class="w3-button w3-margin-bottom w3-block w3-green" href="https://viraltool.tk" target="_blank">Viral Tool</a>
				</p>
			</div>
		</div>
	</div>
	<div class="w3-row w3-gray">
		<div class="w3-container w3-center">
			<p class="w3-small">
				<strong> &copy {{ 'now' | date: "%Y" }} Malik Usman Aura </strong>
				<a href="#top" class="w3-button w3-padding-small"><i class="fa fa-arrow-up fa-fw"></i>To Top</a>
			</p>
		</div>
	</div>
</footer>