
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>{{ site.title }}</title>
		{% seo %}
	{% if site.favicon %}<link rel="shortcut icon" href="{{ site.baseurl }}/{{ site.favicon }}" type="image/x-icon">{% endif %}
	{% if site.touch_icon %}<link rel="apple-touch-icon" href="{{ site.baseurl }}/{{ site.touch_icon }}">{% endif %}
	<link rel="stylesheet" href="{{ site.baseurl }}/style.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>