html, body {
   height: 100%;
}

.parallax-e {
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-position: center;
    background-size: 100% auto;
    height: 100%;
}

.logo-img {
	max-width: 220px;
    max-height: 100px;
}

.flong {
   height: 300px;
}

.be-hidden {
   display:none;
}

.dy-img {
	height: 350px;
	width: 100%;
}

.award-img {
	height: 140px; 
	width: 100%;
	max-width: 200px;
}

@media screen and (max-width: 1024px) {
    .parallax-e {
        background-attachment: scroll;
    }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}