
.parallax-e {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
}

html, body {
   height: 100%;
}

.flong {
   height: 300px;
}

.be-hidden {
   display:none;
}

.dy-img {
	height: 350px;
	width: 100%;
}

.award-img {
	height: 140px; 
	width: 100%;
	max-width: 200px;
}